<ActionBar title="Forgot password"
           class="action-bar"></ActionBar>

<ActivityIndicator [busy]="loading$ | async" class="activity-indicator"></ActivityIndicator>

<StackLayout [formGroup]="forgotPasswordForm"
             class="form p-t-30">

  <StackLayout class="input-field p-x-16">
    <Label text="Email or phone"
           class="label font-weight-bold m-b-5"></Label>
    <TextField formControlName="user"
               keyboardType="email"
               class="input"></TextField>
    <StackLayout class="hr-light"></StackLayout>
    <StackLayout class="error-block">
      <Label text="Email or phone field is required"
             class="text-danger"
             *ngIf="forgotPasswordForm.invalid &&
                        (forgotPasswordForm.get('user').dirty || forgotPasswordForm.get('user').touched) &&
                        forgotPasswordForm.get('user').hasError('required')"></Label>
      <Label text="You should enter valid email or phone number"
             class="text-danger"
             *ngIf="forgotPasswordForm.invalid &&
                        (forgotPasswordForm.get('user').dirty || forgotPasswordForm.get('user').touched) &&
                        forgotPasswordForm.get('user').hasError('pattern')"></Label>
    </StackLayout>
  </StackLayout>

  <StackLayout class="p-x-16">
    <Label class="text-danger text-center" [text]="error$ | async"></Label>
  </StackLayout>

  <Button text="Submit"
          (tap)="requestNewPassword(forgotPasswordForm)"
          class="btn btn-primary"></Button>

</StackLayout>
